integrator = md 
dt = 0.002
nsteps = 2500000
cutoff-scheme = Verlet
coulombtype = PME
rlist = 0.6
rcoulomb = 0.6
rvdw = 0.6
constraints = h-bonds
tcoupl =  V-rescale
ref_t = 270
tau-t = 1.0
tc-grps = System
gen-vel = no
gen-temp = 300
gen-seed = -1 
DispCorr = AllEnerPres
pcoupl = Parrinello-Rahman 
pcoupltype = isotropic
ref-p = 1.01325
compressibility = 4.5e-5
nstxout-compressed = 250
nstxout = 0
nstvout = 0
